.ac .ac-trigger {
    cursor: pointer;
    transition: color 0.25s ease;
    position: relative;
}

.ac .ac-trigger:focus {
    color: #8a8a8a;
}

.ac-panel {
    overflow: hidden;
    transition: height 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
}

.ac.js-enabled .ac-panel {
    visibility: hidden;
}

.ac.is-active .ac-panel {
    visibility: visible;
}
